# 2020-12-01 Dmitrii Fediuk https://upwork.com/fl/mage2pro
# http://stackoverflow.com/questions/987142
# http://stackoverflow.com/questions/9162919
# http://stackoverflow.com/questions/8024924#comment15884195_8025106
*
!*/
!/.editorconfig
!/.gitignore
!/composer.json
!/readme.md
!/app/code/**/*
!/app/design/frontend/MageBig/**/*
!/app/etc/config.php
!/le_connector/**/*
# 2021-05-09 Dmitrii Fediuk https://upwork.com/fl/mage2pro
# "Reimplement the changes made by someone since my last work (between 2021-01-22 and 2021-05-08)":
# https://github.com/innomuebles/m2/issues/16
!/lib/internal/Mageplaza/**/*
/update/
# 2024-01-31 Dmitrii Fediuk https://upwork.com/fl/mage2pro
# "Implement the security update APSB22-12": https://github.com/innomuebles/m2/issues/26
!/vendor/magento/framework/Filter/DirectiveProcessor/DependDirective.php
# 2024-01-31 Dmitrii Fediuk https://upwork.com/fl/mage2pro
# "Implement the security update APSB22-12": https://github.com/innomuebles/m2/issues/26
!/vendor/magento/framework/Filter/DirectiveProcessor/ForDirective.php
# 2024-01-31 Dmitrii Fediuk https://upwork.com/fl/mage2pro
# "Implement the security update APSB22-12": https://github.com/innomuebles/m2/issues/26
!/vendor/magento/framework/Filter/DirectiveProcessor/IfDirective.php
# 2024-01-31 Dmitrii Fediuk https://upwork.com/fl/mage2pro
# "Implement the security update APSB22-12": https://github.com/innomuebles/m2/issues/26
!/vendor/magento/framework/Filter/DirectiveProcessor/SimpleDirective.php
# 2024-01-31 Dmitrii Fediuk https://upwork.com/fl/mage2pro
# "Implement the security update APSB22-12": https://github.com/innomuebles/m2/issues/26
!/vendor/magento/framework/Filter/DirectiveProcessor/VarDirective.php
# 2024-01-31 Dmitrii Fediuk https://upwork.com/fl/mage2pro
# 1) "Add the modified Magento files to the source control": https://github.com/innomuebles/m2/issues/25
# 2) https://github.com/innomuebles/m2/blob/2024-01-31/vendor/magento/framework/Locale/Format.php#L144-L150
!/vendor/magento/framework/Locale/Format.php
# 2020-12-01 Dmitrii Fediuk https://upwork.com/fl/mage2pro
# "How to fix the «Invalid template file» / «require_js.phtml» failure of Magento 2.3.x in Windows?"
# https://mage2.pro/t/5774
!/vendor/magento/framework/View/Element/Template/File/Validator.php
# 2021-05-14 Dmitrii Fediuk https://upwork.com/fl/mage2pro
# 1) «Broken reference: the 'view.addto.compare' tries to reorder itself towards 'view.addto.wishlist',
# but their parents are different: 'product.info.addto' and 'product.info.addtocart' respectively»:
# https://github.com/innomuebles/m2/issues/18
# «Broken reference: the 'skip_gallery_before' tries to reorder itself towards 'product.info.media.image',
# but their parents are different: 'skip_gallery_before.wrapper' and 'product.info.media' respectively»:
# https://github.com/innomuebles/m2/issues/19
!/vendor/magento/module-catalog/view/frontend/layout/catalog_product_view.xml
# 2024-01-31 Dmitrii Fediuk https://upwork.com/fl/mage2pro
# "Implement the security update APSB22-12": https://github.com/innomuebles/m2/issues/26
!/vendor/magento/module-email/Model/Template/Filter.php
# 2024-01-31 Dmitrii Fediuk https://upwork.com/fl/mage2pro
# 1) "Add the modified Magento files to the source control": https://github.com/innomuebles/m2/issues/25
# 2.1) https://github.com/innomuebles/m2/blob/2024-01-31/vendor/magento/zendframework1/library/Zend/Locale/Data/es_CR.xml#L16-L17
# 2.2) https://github.com/innomuebles/m2/blob/2024-01-31/vendor/magento/zendframework1/library/Zend/Locale/Data/es_CR.xml#L19-L25
!/vendor/magento/zendframework1/library/Zend/Locale/Data/es_CR.xml
/dev
/vendor/codeception
/vendor/magento/framework/Test
/vendor/magento/magento2-base
/vendor/magento/magento2-functional-testing-framework
/vendor/tubalmartin