<?xml version='1.0'?>
<config
	xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
	xsi:noNamespaceSchemaLocation='urn:magento:framework:ObjectManager/etc/config.xsd'
>
<!-- 2020-12-09 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro -->
	<type name='Magento\Framework\Session\SidResolver'>
		<plugin
			name='Dfe\CrPayme\Plugin\Magento\Framework\Session\SidResolver'
			type='Dfe\CrPayme\Plugin\Magento\Framework\Session\SidResolver'
		/>
	</type>
</config>