div[name*="shippingAddress.postcode"] {
  display: none
}

.contact-info-text .title {
    margin: 0 0 70px;
}

.contact-index-index .page-bottom-content{
   display: flex;
    flex-wrap: wrap;
}

form#contact-form{
    flex: 0 0 60%;
    max-width: 60%;
}

.google-map{
  flex: 0 0 calc(40% - 30px);
    max-width: calc(40% - 30px);
    margin-left: 30px;
}
.contact-index-index iframe{

    height: calc(100% - 160px);
    width: 100%;
    margin-top: 62px;
    border: none;
}

.mr-payment img {
    max-width: 10% !important;
}
.content_wrapper h3 strong {
  color: #666666;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.5px;
}
.content_wrapper p {
  color: #666666;
  font-size: 14px;
  margin-bottom: 5px;
}

.cms-company-policies-html .content_wrapper p,
.cms-return-policy-html .content_wrapper p {
  margin-bottom: 10px;
}
.cms-return-policy-html .content_wrapper li {
  color: #666666;
  font-size: 14px;
  margin-bottom: 10px;
}
.cms-terms-html .content_wrapper p i {
  color: #666666;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: bold;
  font-style: unset !important;
}

#whatsappchat a.bottom-right {
  right: 0px;
  bottom: 65px !important;
}

.product-image-photo {
  height: 100% !important;
  width: auto !important;
}

.why-choose-us .content-why ul.why-list {
  list-style: none;
  padding-left: 0;
}

.why-choose-us .content-why ul.why-list li {
  position: relative;
  padding-left: 1.5em;
}

.why-choose-us .content-why ul.why-list li:before {
  content: "✓";
  left: 0;
  position: absolute;
  width: 1em;
  height: 1em;
}

@media (max-width: 767px) {
  .media-body {
    margin-left: 20px;
  }
}


/* new css */

.header-main-content .menu-logo .icon-top-mobile {
  display: none;
}
